h3{
    font-size: 30px;
    text-decoration: overline;
}
.second{
    color: cadetblue;
    /* display: none; */
    /* visibility: hidden; */
    font-family: 'Times New Roman', Times, serif;
    
}

.blog{
    margin:40px;
    border: 20px solid salmon;
    box-shadow: 10px 10px 20px black;

}
.incident{
    color: brown;
    display: inline;
    border: 2px solid purple;
    margin: auto;
    /* display: block; */
}
li{
 display: inline;
}
.header{
    color: red;
    height:400px;
    /* background-color: bisque; */
    /* background-image: url(p2.jpg); */
    background-image: url('../img01.jpg');

    /* background-repeat: repeat-x; */
    /* background-size: contain; */
    background-size: cover;
    /* background-size: 400px; */

    
}
.dolor{
    color:black;
    border: 2px solid tomato;
    display: inline;

}

